* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.padding-site {
	padding-left: 98px;
	padding-right: 98px;
}

.container {
	max-width: 1366px;
	min-width: 600px;
	margin: 0 auto;
}

.slider {
	position: relative;
	min-height: 800px;
	background-image: url(img/slider-img.png);
}

.header {
	padding-top: 63px;
}

.menu {
	float: right;
}

.menu-list {
	list-style-type: none;
	float: left;
	padding: 10px 13px;
}

.menu-link {
	color: #8c8c8c;
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	text-decoration: none;
}

.menu-link-active {
	color: #212121;
	font-weight: 300;
	border-bottom: 3px solid #212121;
}

.menu-link:hover {
	color: black;
	text-shadow: 0px 1px 1px #6c6c6c;
}

.slider-text {
	margin-top: 283px;
}

.slider-trending {
	color: #43a047;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.slider-h2 {
	color: #212121;
	font-size: 62px;
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: -2px;
}

.slider-content {
	width: 458px;
	color: #6c6c6c;
	font-size: 14px;
	font-weight: 300;
	margin-top: 20px;
	margin-bottom: 20px;
	line-height: 24px;
}

.button {
	color: #212121;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 23px;
	background-color: #ffffff;
	height: 45px;
	width: 212px;
	line-height: 45px;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	letter-spacing: 3.6px;
	border: 1px solid #8c8c8c;

}

.button:hover {
	box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
}

.button:active {
	background-color: #8c8c8c;
}

.pagination {
	position: absolute;
	bottom: 19px;
	height: 40px;
	width: 1170px;
	text-align: center;

}

.circle {
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: #c7c7c7;
	border-radius: 50%;
	margin: 5px;
}

.circle:hover {
	background-color: #212121;
}

.circle-active {
	width: 40px;
	height: 40px;
	background-color: #212121;
	border-radius: 50%;
	margin-bottom: 0;
}

.featured-product-hat {
	margin-top: 120px;
}

.tab-nav {
	height: 46px;
	float: left;
}

.tab-list {
	float: left;
	list-style-type: none;
	border-bottom: 1px solid #6c6c6c;
	padding-right: 20px;
}

.tab-link {
	text-decoration: none;
	color: #6c6c6c;
	font-size: 36px;
	font-weight: 700;
}

.tab-link-active {
	color: #212121;
	font-size: 36px;
	font-weight: 700;
	border-bottom: 3px solid #212121;
}

.button-ghost {
	float: right;
	color: #212121;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 3.6px;
	text-decoration: none;
	margin-top: 18px;
}

.button-ghost:hover {
	text-decoration: underline;
}

.card {
	float: left;
	margin-top: 50px;
	margin-right: 30px;
	margin-bottom: 120px;
}

.card0 {
	position: relative;
}

.card-hover {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	border: 1px solid #9c9c9c;
	background-color: #ffffff;
	width: 270px;
	height: 270px;
	transition: 0.6s;
	text-align: center;
}

.card-hover:hover {
	opacity: 0.9;
}

.card-button {
	display: inline-block;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: #ffffff;
	text-decoration: none;
	font-size: 40px;
	text-align: center;
	color: #212121;
	margin-top: 60px;
	margin-bottom: 16px;
	border: 1px solid #8c8c8c;
}

.card-button:hover {
	box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
}

.card-button:active {
	background-color: #8c8c8c;

}

.hover-h4 {
	line-height: 29.88px;
	color: #212121;
	font-size: 22px;
	font-weight: 700;
}

.hover-p {
	line-height: 21.91px;
	color: #6c6c6c;
	font-size: 14px;
	font-weight: 300;
	margin: 20px 28px auto 28px;
}

.featured-content .card:last-child {
	margin-right: 0;
}

.promo-box1 {
	width: 683px;
	height: 683px;
	float: left;
	background-image: url(img/promo-img1.png);
}

.promo-box2 {
	width: 683px;
	height: 683px;
	float: right;
	background-image: url(img/promo-img2.png);
}

.promo-text {
	margin-left: 50px;
	margin-top: 228px;

}

.blue-exclusive {
	color: #1e88e5;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.8px;
}

.promo-h2 {
	margin-top: 18px;
	color: #212121;
	font-size: 36px;
	font-weight: 700;
}

.promo-p {
	width: 374px;
	color: #6c6c6c;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	margin: 24px auto 34px 0;
}

.trending-products-hat {
	margin-top: 120px;
	margin-bottom: 64px;

}

.trending-h2 {
	float: left;
	color: #212121;
	font-size: 36px;
	font-weight: 700;
}

.trending-products {
	list-style-type: none;
	margin-bottom: 90px;
}

.trending-list {
	float: left;
	margin: 0 30px 30px 0;
}

.trending-list:hover {
	box-shadow: 0 0 10px 0px #6c6c6c;

}

.trending-products > .trending-list:nth-child(3n) {
	margin-right: 0;
}

.hot-slider {
	position: relative;
	height: 800px;
	background-image: url(img/slider.png)
}

.hot-text {
	float: left;
	margin-top: 287px;

}

.hot-red {
	color: #e53935;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.8px;
	margin-bottom: 14px;
}

.hot-h2 {
	color: #212121;
	font-size: 62px;
	font-weight: 100;
	text-transform: uppercase;
}

.hot-content {
	width: 458px;
	line-height: 24px;
	color: #6c6c6c;
	font-size: 14px;
	font-weight: 300;
	margin: 12px auto 20px 0;
}

.ex-cont {
	margin: 120px auto;
	height: 570px;
}

.ex-card-big {
	position: relative;
	float: left;
}

.ex-text {
	position: absolute;
	top: 186px;
	left: 30px;
	width: 332px;
}

.ex-h2 {
	color: #212121;
	font-size: 36px;
	font-weight: 700;
	margin-top: 18px;
}

.ex-p {
	line-height: 24.04px;
	color: #6c6c6c;
	font-size: 14px;
	font-weight: 300;
	margin-top: 14px;
	margin-bottom: 24px;
}

.ex-link > img:hover {
	box-shadow: 0 0 10px 0px #6c6c6c;

}

.ex-card {
	float: left;
	margin-left: 30px;
	margin-bottom: 30px;
}

.ex-card:nth-last-child(-n+2) {
	margin-bottom: 0;
}

.mobile {
	background-image: url(img/mobile-back.png);
	height: 516px;
	padding-top: 125px;
	box-sizing: border-box;
}

.mobile-cont {
	width: 472px;
}

.mobile-p {
	color: #6c6c6c;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.8px;
}

.mobile-h2 {
	color: #212121;
	font-size: 62px;
	font-weight: 100;
	text-transform: uppercase;
}

.mobile-text {
	color: #6c6c6c;
	font-size: 22px;
	font-weight: 300;
	margin-top: 12px;
	margin-bottom: 26px;
}

footer {
	position: relative;
	background-color: #f7f7f7;
	min-height: 384px;
	padding-top: 120px;
	box-sizing: border-box;
}

.contact {
	float: left;
	width: 226px;
	margin-right: 78px;
}

.contact-h3,
.info-h3,
.touch-h3 {
	color: #6c6c6c;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.8px;
	margin-bottom: 20px;
}

.contact-text {
	color: #212121;
	font-size: 14px;
	font-weight: 300;
}

.info {
	float: left;
}

.info1,
.info2 {
	list-style-type: none;
	text-decoration: none;
	float: left;
}

.info1 {
	margin-right: 100px;
}

.info-link {
	text-decoration: none;
	color: #212121;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.7px;
}

.touch {
	float: right;
	width: 373px;
}

.touch-p {
	color: #212121;
	font-size: 14px;
	font-weight: 300;
}

.touch-email {
	border: 1px solid #d9dee1;
	background-color: #ffffff;
	width: 349px;
	height: 48px;
	padding-left: 20px;
	margin-top: 20px;
}

.downrow {
	position: absolute;
	bottom: 30px;
	width: 1170px;
	text-align: center;

	color: #6c6c6c;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.6px;

	display: flex;
	justify-content: space-between;
}

.fab {
	font-family: FontAwesome;
	font-style: normal;
	margin: 0 5px;
	font-size: 25px;
}

.fab:hover {
	color: #212121;
}


/*==PRODUCT PAGE=================================*/


.linksbar {
	background-color: #f4f4f4;
	text-align: center;
	padding: 28px 0;
	margin-top: 15px;
}

.linksbar a:last-child {
	margin-right: 0;
}

.links {
	color: #6c6c6c;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1.8px;
	margin-right: 50px;
}

.links-active {
	color: #212121;
}

.links:hover {
	color: #212121;
}

.links:active {
	color: #f44336;
}

.product {
	padding: 72px 132px 120px 98px;
}

.prod-imgs {
	float: left;
}

.prod-imgs-small {
	text-align: center;
}

.prod-imgs-small > a > img {
	margin: 10px 10px 0 0;
}

.prod-imgs-small > a:last-child > img {
	margin-right: 0;
}

.description {
	margin: 42px 0 0 56px;
	text-align: center;
	width: 510px;
	float: right;
}

.descr-h2 {
	color: #212121;
	font-size: 36px;
	font-weight: 700;
}

.descr-red {
	color: #e53935;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.8px;
	margin-top: 14px;
	margin-bottom: 30px;
}

.descr-price {
	line-height: 48.02px;
	color: #212121;
	font-size: 72px;
	font-weight: 300;
	text-transform: uppercase;
}

.descr-price span {
	font-size: 36px;
	text-transform: lowercase;
}

.prod-button {
	border-radius: 35px;
	background-color: #f44336;
	text-decoration: none;
	line-height: 24.01px;
	color: #ffffff;
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 4.4px;
	display: inline-block;
	width: 510px;
	height: 71px;
	line-height: 71px;
	border: 1px solid #8c8c8c;
	margin-top: 31px;
	margin-bottom: 49px;
}

.prod-button:hover {
	box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
}

.prod-button:active {
	background-color: #8c8c8c;
}

.full-descr {
	text-align: left;
	line-height: 24.01px;
	color: #212121;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0.4px;
}

.full-descr p {
	margin-top: 18px;
}

.full-descr p:first-child {
	margin-top: 0;
}

.related-h2 {
	float: left;
}

.related-content {
	margin-top: 70px;
	margin-bottom: 120px;
	display: flex;
	justify-content: space-between;
}

.related-link > img:hover {
	box-shadow: 0 0 10px 0px #6c6c6c;
}

/*==CATALOG PAGE=================================*/

.top {
	min-height: 360px;
	background-color: #f5f5f5;
}

.top-h2 {
	color: #212121;
	font-size: 62px;
	font-weight: 100;
	margin-top: 148px
}

.nav-ul {
	display: flex;
	list-style-type: none;
	margin-top: 72px;
	margin-bottom: 72px;
	width: 674px;
	justify-content: space-between;
}

.nav-list {}

.nav-link {
	text-decoration: none;
	color: #6c6c6c;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.8px;
	padding-bottom: 16px;
}

.nav-link:hover {
	color: #212121;
	border-bottom: 1px solid #212121;
}

.nav-link-active {
	color: #212121;
	border-bottom: 3px solid #212121;
}

.catalog {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.catalog-list {
	margin-bottom: 30px;
}

.catalog-list:hover {
	box-shadow: 0 0 10px 0px #6c6c6c;
}

.refresh {
	margin-top: 41px;
	margin-bottom: 140px;
	display: flex;
	justify-content: center;
	text-decoration: none;
	color: #212121;

}
